* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: "Manrope", sans-serif;
  color: #343a40;
  border-bottom: 8px solid #087f5b;
  background-image: url("/images/special_blur.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
/*HEADER*/
/******************************************************************/
.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: black;
  height: 4.5rem;
  padding: 0 4.8rem;
}
.logo {
  width: 55px;
  height: 55px;
  stroke: rgb(214, 214, 214);
}
.main-nav-list {
  font-size: 20px;
  list-style: none;
  display: flex;
  gap: 3.2rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: all 0.1s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #087f5b;
}
/* .heading {
  display: flex;
} */
.academex {
  font-size: 30px;
  margin: auto 490px auto 10px;
  color: rgb(214, 214, 214);
}

/**************************************************************************/
.container {
  width: 960px;
  margin: 0 auto;
}

.important,
section {
  margin-bottom: 48px;
}

h2 {
  margin-bottom: 48px;
  font-size: 36px;
  letter-spacing: -0.5px;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}

.btn:link,
.btn:visited {
  background-color: #087f5b;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
}
.btn:hover,
.btn:active {
  background-color: #099268;
}
.btn--big {
  text-transform: lowercase;
  font-size: 18px;
  padding: 16px 32px;
  border-radius: 10px;
}
.btn--small {
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 20px;
}
/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */

/* header */
.important {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 450px;
  column-gap: 80px;
  margin-top: 50px;
  background-color: #f3e7d3;
  border-radius: 15px;
}

.header-text-box {
  align-self: center;
  padding: 0 0 0 20px;
}

h1 {
  margin-bottom: 24px;
  font-size: 44px;
  line-height: 1.1;
  letter-spacing: -1px;
}

.header-text {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
}

img {
  width: 100%;
}

/* FEATURE*/

.features-title {
  margin-bottom: 16px;
  font-size: 20px;
}

.features-text {
  font-size: 18px;
  line-height: 1.7;
}
.features-icon {
  stroke: rgb(19, 160, 118);
  width: 32px;
  height: 32px;
  margin-bottom: 16px;
}

/* TESTIMONIAL */
.testimonial-section {
  background-image: url("/images/wave-haikei.svg");
  color: #fff;
  padding: 30px;
  border-radius: 25px;
}

.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}

.testimonial-box h2 {
  margin-bottom: 24px;
  font-size: 24px;
}

.testimonial-text {
  font-style: italic;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
}
.testimonial-section img {
  width: 100%; /* Sets the width of the image to 100% of its container */
  height: auto; /* Ensures that the image maintains its aspect ratio */
  object-fit: cover; /* Ensures that the image fills its container, while preserving its aspect ratio */
}

/* CHAIRS */
.chair-box {
  padding: 24px;
  border-radius: 25px;
}

h3 {
  margin-bottom: 24px;
  font-size: 20px;
}

.chair-details {
  list-style: none;
  margin-bottom: 24px;
}

.chair-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.chair-details li:last-child {
  margin-bottom: 0;
}

.chair-icon {
  stroke: #087f5b;
  width: 24px;
  height: 24px;
}

.chair-price {
  display: flex;
  justify-content: center;
}

footer {
  margin-bottom: 48px;
  font-size: 14px;
  color: #495057;
}
.chair {
  background-color: #f3e7d3;
  border-radius: 15px;
}
.special {
  background-image: url("images/stacked-waves-haikei.svg");
  padding: 20px;
  color: rgb(0, 0, 0);
  border-radius: 15px;
  background-size: cover;
  background-attachment: scroll;
}
.bestselling {
  background-image: url("/images/stacked-waves-haikei.svg");
  color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 25px;
}
#hello {
  color: rgb(214, 214, 214);
}

.photo {
  width: 300px; /* or whatever width you want */
  height: 300px; /* or whatever height you want */
  overflow: hidden; /* to hide any parts of the image that are larger than the box */
}

.photo {
  width: 100%; /* to make the image fill the width of the box */
  height: 100%; /* to make the image fill the height of the box */
  object-fit: cover; /* to make the image fit into the box while preserving its aspect ratio */
}
.sub-selection {
  text-decoration: none;
}
